<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.gmall.list.mapper.AttrMapper">
    <select id="selectAttrListByValueId" resultMap="selectAttrListByValueIdMap" parameterType="String">
        SELECT
            attr.id AS attr_id,
            val.id AS val_id,
            attr.*, val.*
        FROM
            base_attr_info attr,
            base_attr_value val
        WHERE
            attr.id = val.attr_id
        AND val.id IN (${join})
    </select>
    <resultMap id="selectAttrListByValueIdMap" type="com.guigu.gmall.bean.BaseAttrInfo" autoMapping="true">
        <result column="attr_id" property="id"></result>
        <collection property="attrValueList" ofType="com.guigu.gmall.bean.BaseAttrValue" autoMapping="true">
            <result column="val_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>